{% extends 'producao/modelo.html' %}

{% load static %}

{% block conteudo %}
<h1>Contas a Receber</h1>
<a href="{% url 'comissao' %}" class="btn btn-primary btn-sm">Novo</a>
<hr>
<div class="table-responsive">
    <table class="table table-striped" id="tabela-listar-comissao">
    <thead>
        <tr>
            <th>empresa</th>
            <th>pessoa</th>
            <th>tipo_documento</th>
            <th>referencia</th>
            <th>valor</th>
            <th>valor_recebido</th>
            <th>saldo</th>
            <th>observacao</th>
            <th>emissao</th>
            <th>modo_de_lancamento</th>
            <th>status</th>
            <th>user</th>            
        </tr>
    </thead>
    <tbody>
        {% for recebimento in object_list %}
        <tr>
            <td>{{ recebimento.empresa}}</td>
            <td>{{ recebimento.pessoa}}</td>
            <td>{{ recebimento.tipo_documento}}</td>
            <td>{{ recebimento.referencia}}</td>
            <td>{{ recebimento.valor}}</td>
            <td>{{ recebimento.valor_recebido}}</td>
            <td>{{ recebimento.saldo}}</td>
            <td>{{ recebimento.observacao}}</td>
            <td>{{ recebimento.emissao}}</td>
            <td>{{ recebimento.modo_de_lancamento}}</td>
            <td>{{ recebimento.status}}</td>
            <td>{{ recebimento.user}}</td>
                    </tr>

        {% empty %}
        <tr>
            <td colspan="4">Nenhum registro encontrado</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>


{% endblock %}


