{% extends 'producao/modelo.html' %}

{% load static %}

{% block conteudo %}
{% load crispy_forms_tags %}
<form method="get" action="{% url 'pdf_list' %}">  
    <input type="text" name="q" placeholder="Digite o Funcionário" value="{{ search_query }}">    
    <button type="submit" class="btn btn-primary">Busca Funcionário</button>

</form>

<table class="table">
    <thead>
        <tr>
            <th>Empresa</th>
            <th>Funcionário</th>
            <th>Documento</th>
            <th>Emissão de referência</th>
            <th>Arquivo PDF</th>
        </tr>
    </thead>
    <tbody>
        {% for result in results %}
            <tr>
                <td>{{ result.enterprise }}</td>
                <td>{{ result.worker.nome }}</td>
                <td>{{ result.title }}</td>
                <td>{{ result.emissao_documento }}</td>
                <td>
                    <a href="{{ result.pdf_file.url }}" target="_blank">Visualizar/Download</a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="4">Nenhum resultado encontrado</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}